---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <title>{title}</title>
    <meta name="description" content={description}/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;510;600;700&family=Source+Code+Pro:wght@400;500&display=swap" rel="stylesheet"/>
</head>
<body>
    <slot />
</body>
</html>
